apiVersion: apps/v1
kind: Deployment
metadata:
  name: peo-web-bff
  namespace: peo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: peo-web-bff
  template:
    metadata:
      labels:
        app: peo-web-bff
    spec:
      containers:
        - name: peo-web-bff
          image: mba-projectfive-peo-bff:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
                  env:
          - name: ASPNETCORE_ENVIRONMENT
            value: "Development"
         
          - name: Endpoints__Identity
            value: "http://peo-identity-api:8080"
          - name: Endpoints__GestaoAlunos
            value: "http://peo-gestao-alunos-api:8080"
          - name: Endpoints__GestaoConteudo
            value: "http://peo-gestao-conteudo-api:8080"
          - name: Endpoints__Faturamento
            value: "http://peo-faturamento-api:8080"

          - name: ConnectionStrings__messaging
            value: "amqp://guest:guest@rabbitmq:5672"
        livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 15

          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: peo-web-bff
  namespace: peo
spec:
  selector:
    app: peo-web-bff
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP
