apiVersion: v1
kind: ConfigMap
metadata:
  name: peo-frontend-config
  namespace: peo
data:
  ApiBaseUrl: http://peo-web-bff:8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: peo-frontend
  namespace: peo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: peo-frontend
  template:
    metadata:
      labels:
        app: peo-frontend
    spec:
      containers:
      - name: peo-frontend
        image: mba-projectfive-peo-frontend:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 200m
            memory: 256Mi
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 2
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 2
          failureThreshold: 3
        envFrom:
        - configMapRef:
            name: peo-frontend-config
---
apiVersion: v1
kind: Service
metadata:
  name: peo-frontend
  namespace: peo
spec:
  selector:
    app: peo-frontend
  ports:
  - name: http
    port: 80
    targetPort: 80
  type: ClusterIP
