apiVersion: v1
kind: ConfigMap
metadata:
  name: peo-frontend-config
  namespace: peo
data:
  ApiBaseUrl: "http://peo-bff:8080"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: peo-frontend
  namespace: peo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: peo-frontend
  template:
    metadata:
      labels:
        app: peo-frontend
    spec:
      containers:
        - name: peo-frontend
          image: mba-projectfive-peo-frontend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 80
          envFrom:
            - configMapRef:
                name: peo-frontend-config
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 20
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: peo-frontend
  namespace: peo
spec:
  selector:
    app: peo-frontend
  ports:
    - name: http
      port: 80
      targetPort: 80
  type: ClusterIP
