name: CD - Deploy Kubernetes

on:
  push:
    branches:
      - master
    paths:
      - "k8s/**"
      - ".github/workflows/cd-k8s-deploy.yml"
  workflow_dispatch:

jobs:
  deploy-k8s:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # (Opcional, mas bom para log)
      - name: Verificar kubectl
        run: kubectl version --client

      - name: Aplicar Namespace
        run: kubectl apply -f k8s/00-namespace.yaml

      - name: Criar/Atualizar Secrets
        env:
          JWT_KEY: ${{ secrets.JWT_KEY }}
          RABBITMQ_USER: ${{ secrets.RABBITMQ_USER }}
          RABBITMQ_PASSWORD: ${{ secrets.RABBITMQ_PASSWORD }}
        run: |
          kubectl -n peo create secret generic peo-jwt-secret `
            --from-literal=Jwt__Key="$env:JWT_KEY" `
            --dry-run=client -o yaml | kubectl apply -f -

          kubectl -n peo create secret generic peo-rabbitmq-secret `
            --from-literal=RABBITMQ_USER="$env:RABBITMQ_USER" `
            --from-literal=RABBITMQ_PASSWORD="$env:RABBITMQ_PASSWORD" `
            --dry-run=client -o yaml | kubectl apply -f -

      - name: Deploy Kubernetes (apply em tudo do k8s)
        run: kubectl apply -f k8s/

      - name: Verificar status (pods e services)
        run: |
          kubectl -n peo get pods
          kubectl -n peo get svc
